* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
.order-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  .order-title {
    font-size: 20px;
    font-weight: normal;
  }
  .order-head {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-wrap {
      display: inline-block;
      width: 400px;
    }
  }
  .pager-wrapper {
    padding-top: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .handle-box {
    text-align: center;
    .anticon {
      display: inline-block;
      margin-right: 8px;
      font-size: 14px;
      cursor: pointer;
      width: 24px;
      height: 24px;
      line-height: 25px;
      text-align: center;
      border-radius: 50%;
      background: #2a92fe;
      color: #fff;
      &.disable {
        pointer-events: none;
        opacity: 0.6;
      }
      &.anticon-delete {
        background: #f5222d;
      }
      &.anticon-eye {
        background: #1aa034;
      }
    }
  }
}
.user-info-list {
  .user-info-item {
    display: flex;
    justify-content: center;
    align-content: center;
    .info-title {
      height: 32px;
      line-height: 32px;
      min-width: 80px;
      text-align: right;
    }
  }
}
